@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 225px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #289965;


}

.sidebar:hover {
    width: 280px;
    transition: 0.5s;
}

.logo {
    height: 120px;
    padding: 16px;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover {
    background: #e0e0e058;
}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.9rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    margin-bottom: 50px;
    left: 0;
    width: 100%;
}

.main-content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header-wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title {
    color: #289965;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1;
}
.push-btn{
    background-color: #289965;
    border-radius: 7px;
    width: 130px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 70px;
}
.push-btn h2{
    font-size: 16px;
    color: #fff;
    margin-top: 8px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: #289965;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input {
    background: transparent;
    padding: 10px;
}

.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover {
    transform: scale(1.2);

}

.announce-container {
    width: 800px;
    height: 270px;
    position: absolute;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    background: #f7f7f7;
    box-shadow: 0px 0px 2px #686868;
}

.announcements-container {
    width: 900px;
    height: 500px;

    position: absolute;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    background: #f7f7f7;
    box-shadow: 0px 0px 2px #686868;
}

.announcements-wrap h2 {
    font-size: 20px;
    color: #289965;
    font-weight: 700;
    margin: 20px;

}

.announcements-wrap .h3 {
    font-size: 13px;
}

.announcements-wrap i {
    font-size: 1.9rem;
    margin-left: 830px;
    position: absolute;
    margin-top: -50px;
}

#list {
    list-style-type: none;
    /* Removes default bullets */
    padding-left: 25px;
    /* Adds some left padding */
    font-family: Arial, sans-serif;
    /* Sets the font family */
}

#list li {
    margin-bottom: 15px;
    /* Adds space between list items */
    line-height: 1.5;
    /* Adjusts line height for readability */
    color: #333;
    list-style-image: url('https://via.placeholder.com/10');
    font-size: 13px;
    font-weight: 500;
    /* Sets text color */
}

/* Specific style for the second <li> item */
#list li:nth-child(2) {
    font-size: 13px;
    font-weight: 500;
    /* Makes the second item bold */
}

#list li:nth-child(3) {
    font-size: 13px;
    font-weight: 500;
    /* Makes the second item bold */
}


.card-participation {
    width: 200px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    height: 120px;
    position: absolute;
    background: #289965;
    color: #fff;
    margin-left: 900px;
    margin-top: 30px;

}

.card-participation i {
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
    margin: 20px;
}

.card-participation h2 {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    position: absolute;
    margin-top: 15px;

}

.card-participation h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 130px;
    margin-top: -50px;
    position: absolute;

}


.card-accounts {
    width: 200px;
    border-radius: 10px;
    height: 120px;
    transition: all 0.5s ease-out;
    position: absolute;
    background: #A9382A;
    color: #fff;
    margin-left: 900px;
    margin-top: 160px;

}

.card-accounts i {
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
    margin: 20px;
}

.card-accounts h2 {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    position: relative;
    margin-top: 15px;

}

.card-accounts h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 130px;
    margin-top: -50px;
    position: absolute;

}


.card-votes {
    width: 200px;
    border-radius: 10px;
    height: 120px;
    transition: all 0.5s ease-out;
    position: absolute;
    background: #47288A;
    color: #fff;
    margin-left: 900px;
    margin-top: 290px;

}

.card-votes i {
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
    margin: 20px;
}

.card-votes h2 {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    position: absolute;
    margin-top: 15px;

}

.card-votes h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 130px;
    margin-top: -50px;
    position: absolute;

}

.announce-wrap h2 {
    font-size: 17px;
    color: #289965;
    font-weight: 700;
    margin: 20px;

}

.announce-wrap .h3 {
    font-size: 15px;
}

.announce-wrap i {
    font-size: 1.7rem;
    margin-left: 730px;
    position: absolute;
    margin-top: -50px;
}

.active-now {
    background-color: #289965;
    border-radius: 180px;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
}

.container-accounts h3 {
    color: #888888;
    font-size: 14px;
    margin-left: 50px;
    position: absolute;
    margin-top: -20px;

}

.container-accounts h1 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;

}

th {
    background-color: #eee;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.settings-container {
    background: #f7f7f7;
    margin-left: 20px;
    width: 800px;
    height: 470px;
    box-shadow: 0px 0px 2px #686868;
    border-radius: 8px;
}
.settings-container h2{
    font-size: 18px;
    color: #686868;
    margin-left: 30px;
    margin-top: 100px;
    position: absolute;

}
.settings-container h1{
    font-size: 21px;
    color: #289965;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;

}
.settings-container p{
    font-size: 12px;
    color: #686868;
    margin-left: 30px;
    margin-top: 130px;
    position: absolute;

}
.settings-container .reset-btn{
    background-color: #289965;
    border-radius: 7px;
    width: 180px;
    height: 40px;
    position: absolute;
    margin-left: 450px;
    margin-top: 140px;
}
.reset-btn h2{
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
}
.h2 .documentations{
    font-size: 17px;
    position: absolute;
    margin-top: 300px;
}